body{
	background-image: url("imagenes2/arb2.jpg");
    font-style:Arial
}



div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 80px;
    background-color: lightblue;
       
    
}